body {
  background-image: url(/src/img/minimal-landscape-k-wallpaper.png);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(
    14px + 2vmin
  ); /* Increased font size for better readability */
  color: #fff; /* Changed text color to white */
}

.App-link {
  color: #560d81;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Added smooth color transition on hover */
}

.App-link:hover {
  color: #fff; /* Changed link color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  text-align: center;
  color: wheat;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
